.common {
    position: absolute;
}

.header {
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    border-bottom: solid 1px #555555;
    background-color: rgb(194, 129, 255)
}

.footer {
    left: 0px;
    right: 0px;
    height: 25px;
    bottom: 0px;
    border-top: solid 1px #555555;
    text-align: center;
    background-color: #c0fde9;
    color: #555555;
    font-size: 10px;
    padding-top: 10px;
    position: fixed;
}

.rightmenu {
    top: 55px;
    right: 5px;
    width: 400px;
    bottom: 30px;
    height: 80px;
    align-items: center;
    border: solid 1px #555555;
    padding-left: 10px;
}