.homebg {
    background-color: #c0fde9;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li {
    color: darkblue;
}
.italic {
    font-style: italic;
}
.underline {
    text-decoration: underline;
}
.bold {
    font-weight: bold;
}